{% include '../head.html' %}



<main role="main">
    {% include '../header.html' %}

    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form method="POST">
                    <h2>Crea un post</h2>
                    {% csrf_token %} {% for field in fields %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {% if field.type == 'textarea' %}
                        <br />
                        <textarea class="form-control"></textarea> 
                        {% else %}
                        <input type="text" class="form-control"> 
                        {% endif %}
                    </div>

                    {% endfor %}

                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</main>

{% include '../footer.html' %}